body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.placeholder {
  width: 90vw;
  height: 640px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.chart {
  width: 90%;
  height: 45%;
  display: flex;
  justify-content: center;
}
.table {
  width: 90%;
  height: 47%;
  border: 1px solid green;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  border: 1px solid black;
}
th,
tr,
td {
  border: 1px solid black;
}
